__pycache__/
.claude/
.vscode/
ckpts/ 
results/ 
tmp_test.ipynb 
testcase.py 
method_review 
.pytest_cache/ 
tests/
github.txt 
repo.md 
test_lora_image.sh
test_lora_video.sh 
train_lora_image.sh 
train_lora_video.sh 
playground/test_lora_image_model.py
playground/test_lora_video_model.py
playground/train_lora_image_percept.py
playground/train_lora_video_percept.py
configs/lora_image_train_cfg.yaml
configs/lora_video_train_cfg.yaml
configs/moe_lora_video_train_cfg.yaml